<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="x_systems.x_messenger"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.ULTRA"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".consistent_connection.BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.SCREEN_OFF" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.ConnectionService"
            android:enabled="true"
            android:label="NotificationService" />
        <!--nothing-->
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/login"
            android:parentActivityName=".activities.SplashActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.BaseActivity"
            android:label="Chats"
            android:parentActivityName=".activities.LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ViewFile"
            android:label="ViewFile"
            android:parentActivityName=".activities.BaseActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.CaptureActivityExtended"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activities.PgpMailActivity" />
        <activity android:name=".Views.contact_info" />
        <activity android:name=".activities.contact_info"></activity>
    </application>

</manifest>